# Ignore some static files and directories.
/.gitattributes
/.htaccess
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
/vendor
/composer.json
/modules/*
/themes/*

# Ignore fix module files and directories.
!/modules/work-schedules

!/themes/default
/themes/default/*
!/themes/default/css
!/themes/default/js
!/themes/default/images
!/themes/default/modules
/themes/default/css/*
/themes/default/js/*
/themes/default/images/*
/themes/default/modules/*
!/themes/default/css/work-schedules.css
!/themes/default/js/work-schedules.js
!/themes/default/images/work-schedules
!/themes/default/modules/work-schedules

!/themes/admin_default
/themes/admin_default/*
!/themes/admin_default/css
!/themes/admin_default/js
!/themes/admin_default/images
!/themes/admin_default/modules
/themes/admin_default/css/*
/themes/admin_default/js/*
/themes/admin_default/images/*
/themes/admin_default/modules/*
!/themes/admin_default/css/work-schedules.css
!/themes/admin_default/js/work-schedules.js
!/themes/admin_default/images/work-schedules
!/themes/admin_default/modules/work-schedules
